@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300&display=swap');
/* Container  font*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Noto+Sans+Meetei+Mayek:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

}

:root {
    --navbarfont: 'Poppins', 'sans-serif';
}


html,
body {
    overflow-y: auto;
}

.pmain {
    width: 100% !important;
}

.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    background-color: #e9ecf0be;
}

header {
    width: 100%;
}

.container-fluid {
    width: 90% !important;
    display: flex;
    justify-content: end;
    height: 7vh;
    align-items: center;
    position: relative;

}

/* Parent of main page btn */
.nav-end {
    display: flex;
    background-color: #43424d;
    border-radius: 9px;
    height: 39px;
    cursor: pointer;
    width: 40px !important;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.hambtn img {
    background-position: center center;
    object-fit: contain;
    padding-right: 5px;
}

.search {
    cursor: pointer;
}

.hambtn {
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.container2 {
    width: 100%;
    height: 93vh;
    top: 7vh;
    position: absolute;
    left: 0px;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

#ul {
    list-style: none;
    padding: 0 !important;
}

#ul #li {
    margin-top: 20px;
    cursor: pzointer;
    gap: 5px;
    color: #000;
    font-family: 'Mulish';
    font-size: 1.4rem;
    height: 8vh;
    padding-left: 15px;
    width: 100% !important;
    display: flex;
    align-items: center;
}


#li img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.toglecontainer {
    display: none;
}

.canvas {
    display: flex;
    width: 100%;
    padding-right: 10px;
    align-items: center;
    justify-content: end;
}



.offcanvas-header {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.offcanvas-header h5 {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    padding-top: 15px;
    font-size: 1.5rem;
}

.offcanvas-body {
    padding: 0 !important;
}

.content {
    width: 100%;
}



#simg {
    width: 35px;
    object-fit: contain;
    background-position: center center;
}

.headz h2,
.headz h6,
#aeroplane,
.sresponse {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .3s .5s linear 1 forwards;

}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.headz h2 {
    font-size: 3rem;
    color: #161522;
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
}

.headz h6 {
    font-family: 'Poppins', 'sans-serif';
}

.headz img {
    width: 150px;
    height: 130px;
    object-fit: cover;

}

.headz {
    width: 98%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.response {
    width: 10%;
    gap: 15px;
    width: 95.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

.sresponse {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.872);
    border-radius: 12px;
    justify-content: center;
    height: 20vh;
    gap: 5px;
    width: 22rem;
    white-space: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sresponse:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.rimg {
    height: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rtext {
    font-family: var(--navbarfont);
    color: #251e1e;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    padding: 5px;
    align-items: start;
    justify-content: center;

}

.btnhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px
}

.rimg img {
    width: 80px;
    object-fit: contain;
}

#aeroplane {
    width: 220px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.761));
}





.rtext p {
    color: #000;

}

.rtext h5 {
    font-weight: 600;

}

.main2 {
    background-color: #e9ecf0be;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    font-family: var(--navbarfont);
}

.head2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headz2 {
    width: 30vw;
    height: min-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box1 {
    width: 85%;
    padding: 5px;
    height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    font-family: var(--navbarfont);
}

.box1 h6 {
    font-family: var(--navbarfont);
    font-weight: 600;
}

.icon {

    background-color: rgba(255, 255, 255, 0.872);
    width: 40px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 30px;
    height: 30px;
}


#head2 {
    height: 40vh;
}

#head2 h6 {
    font-weight: 700;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
}

.dmain {
    width: 100%;
    /* height: 110%; */
    height: 150vh;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecf0be;
}

#lastcol {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    box-shadow: none;
}

.dbox {
    /* border: 1px solid blueviolet; */
    border: 1px solid #d5daf0;
    background-color: aliceblue;
    /* height: 127vh; */
    height: 149vh;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;

}

a {
    color: #000;
}


#drop {
    text-decoration: none;
    list-style: none;
    font-family: var(--navbarfont);
    text-decoration: none !important;
}

#dropmenu {
    width: min-content;
    padding-right: 8px;
    white-space: nowrap;
    font-family: var(--navbarfont);
    cursor: pointer;
}

#drop2 {
    height: 7vh;
    width: 105%;
    display: flex;
    align-items: center;
}

.addhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bee {
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-position: center center;
}

.beehead {
    width: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dropmenu a {
    color: #000;
    width: 100% !important;
    text-decoration: none;
    background-color: transparent !important;

    color: black;
    text-decoration-color: white !important;
    text-decoration: none !important;

}

#dropmenu a li {
    padding-left: 10px;
}

#drop2:hover {
    background-color: #e3e5f1bf;
}

#drop2 img {
    width: 25px;
    height: 25px;
}



.top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #d5daf0;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 20px;
    gap: 5px;
    background-color: #161522;
}

.timg {
    width: 80px;

}

.timg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.socialmedia {
    border: 1px solid #d5daf0;
    width: 95%;
    height: 13vh;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mbox {
    width: 80px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconbox:active,
.iconbox:focus {
    background-color: #e9ecf0be;
}

.iconbox {
    width: 65px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.iconbox img {
    width: 50px;
    height: 48px;
    object-fit: contain;
}

#insta {
    width: 40px;
}

.line {
    width: 1px;
    height: 60%;
    background-color: #d5daf0;
}

.dbody {
    height:110vh ;
    /* border: 1px solid black; */
    width: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: space-between;
}
.nav-link h6{
    color:#271e8c; 
    transition: all 0.2s ease;
}
.nav-link h6:hover{
    color:  #19116d;
    border-bottom: 1px solid  #26207d;;

}

.dbtn {
    font-family: inherit;
    font-size: 18px;
    width: 15.6rem;
    height: 8.5vh;
    /* border: 2px solid black!important; */
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    color: white;
    outline: none;
    border: none;
    background-color: #2113c4;

    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: 600;
}

.dbtn:hover {

    background-color: #1a108f;

}

.dbtn img {
    width: 30px;
    height: 34px;
}

.dbtn2 {
    font-family: inherit;
    font-size: 18px;
    width: 10rem;
    height: 8.5vh;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    color: white;
    outline: none;
    border: none;
    /* border: 1px solid black; */
    background-color: #2113c4;
    border-radius: 30px;
    font-weight: 600;
}


.bodybtns {
    width: 100%;
    height: min-content;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin-bottom: 7px;
}

.btnhead span {
    display: none;
}
.paginationdiv .pagination{
    padding-left: 10px;
    padding-bottom: 10px;
}
#dbtn2img {
    width: 25px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(hi2.png);
    background-position: center center;
    transition: all 0.3s ease;
    }

.post {
    width: 95%;
    height: 100%;
    border: 1px solid #d5daf0;
    border-radius: 10px;
}

.mpost {
    width: 100%;
    height: 100vh;
    /* height: 90vh!important; */
    /* border: 1px solid black; */
    border-radius: 2px;
    /* border: 1px solid #d5daf0; */
    /* border-bottom-left-radius:2px solid black ; */
    /* border-bottom-right-radius:1px solid #d5daf0 ; */
    /*  */
    overflow: hidden;
    /* height: min-content; */
    /* height: 76vh; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}


#dbtn3img {
    width: 25px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(c2.png);
    background-position: center center;
    transition: all 0.3s ease;
    }

.dbtn3:hover {
    background-color: white;
    border: 1px solid #1a108f;
    color: #1a108f;

}

.dbtn2:hover {
    background-color: white;
    border: 1px solid #1a108f;
    color: #1a108f;

}

.dbtn2 p {
    margin-top: 10px;
}

.dbtn2:hover>#dbtn2img {
    background-image: url(hi.png);
    }

.dbtn2:hover>#dbtn3img {
    background-image: url(c1\ \(1\).png);

}

.add {
    font-family: var(--navbarfont);
    color: #000;
    width: 100%;
    height: 100vh;
    padding: 5px;
    background-color: #e9ecf0be;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add input::placeholder {
    color: #000;

}

.addform {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border: 1px solid #d5daf0;
    border-radius: 8px;
    height: min-content;
    padding-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    }

/* Dashboard Section */


.dashboardx {
    width: 100%;
    height: min-content !important;
   }

.dbodyx {
    width: 100%;
    height: 105%;
    display: flex;
    padding: 1px;
}
.header h2{
    text-transform: uppercase;
}

.mainreqx {
    width: 100%;
    height: 100%;
    font-family: var(--navbarfont);
    position: absolute;
}

/* Sidebar */

#sbutton {
    background: transparent;
    border: 0;
    padding: 0;
    height: 40px !important;
    gap: 8px;
    cursor: pointer;
    margin: 0;
}

#sbutton:hover {
    background-color: #e5e8f6;
}

.sidebar {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    height: 100vh;
    transition: all 0.4s ease;
    padding: .9rem !important;
}

body.open .sidebar {
    transition: all 0.4s ease;
    width: 0px;
}

#hambutton {
    display: none !important;
}

.sidebar-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.sidebar-header {
    display: flex;

}

.sidebar-burger {
    width: 30px;
    height: 20px;
    background-color: transparent !important;
    background-image: url(ham.png);
}

.sidebar-menu {
    display: grid;
    font-family: "Poppins";
    /* padding-right: .9rem !important; */
}

#splatform {
    font-size: 18px;
    margin-left: 15px;
}

#sbutton {
    display: flex;
    align-items: center;
    height: 33px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    color: #000;
    line-height: 1;
    padding: 0 25px;
}

#del {
    font-size: 12px;
    box-shadow: none !important;
}

.sidebar-menu p {
    position: relative;
    top: 15px;
    color: #2d1515d2;
}

.reqform h1 {
    color: #2d1515d2;

}

.sidebar-menu>button>img {
    width: 24px;
    height: 24px;
}

#spam {
    font-size: 14px;
    color: #000;
}
#spam2{
    font-size: 18px;
    color: #1a1414;
    font-weight: 400;
    letter-spacing: .2px;
}
#cname {
    padding-left: 50px;
    font-family: "Poppins";
}


/* Table */


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table {
    border: 0.0625rem solid rgba(41, 43, 48, 0.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
    border-radius: 8px !important;
    background-color: white;
    margin-left: 2rem !important;
}

.table-responsive>.table-bordered {
    border: 0;
}

thead {
    border: 0.0625rem solid rgba(41, 43, 48, 0.05);
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    /* border-radius: 10px !important */
}

tbody {
    /* border-radius: 10px!important; */
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: transparent;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    /* border: 5px solid black!important; */
    white-space: wrap!important;
}
tr a{
    white-space: wrap!important;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    text-transform: capitalize;
}

#colborder {
    border: 0.0625rem solid rgba(41, 43, 48, 0.05) !important;
    white-space: wrap!important;
}

#postbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 13px;
    border: none!important;
}

.can {
    display: none;
}


/* PAGINATION START */
.paginationdiv{
    display: flex;
    justify-content: end;
}
/* PAGINATION END */

/* Responsive Media Queries Section*/
@media(max-width:1193px) {
    #bee {
        width: 90px;
    }
    .dmain{
        height: 105%;
    }
    #sbutton {
        align-items: center;
        justify-content: start;
        font-size: 12px;
    }
    .dbox{
        height: 124vh;
    }
    .dbody{
        height: 85vh;
    } 
    .mpost{
        height: 85vh;
    }

}
@media(max-width:1000px){
     .dbox{
        height: 111vh;
    }
    .dbody{
        height: 75vh;
    } 
    .mpost{
        height: 75vh;
    }

    .dbtn2 {
        font-size: 15px;
        width: 9.5rem;
        height: 6.8vh;
        gap: 3px;
    }
    .dbtn {
        font-size: 15px;
        width: 14rem;
        height: 6.8vh;
        gap: 3px;
    }
    .dbtn p {
        padding-top: 8px;
    }
}


@media (max-width:992px) {
    .dcol1 {
        display: none;
    }

    #sbutton {
        height: 9vh !important;
    }

    .can {
        display: block;
    }

    #spam {
        font-size: 19px;
        color: #43424d;
    }

    #spam:hover {
        background-color: transparent !important;
    }

    #sham {
        width: 30px;
        height: 30px;
        border: 1px solid rgba(28, 30, 33, 0.283) !important;
        padding: 3px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1.5px;
    }

    .btnhead span {
        display: block;
    }

    #postbtn {
        margin-bottom: 8px !important;
    }

    #sbutton:hover {
        background-color: transparent !important;
    }


    .rtext h5 {
        font-size: 1.1rem;
        color: #251e1ee9;
        line-height: 10px;
    }

    .rtext p {
        font-size: .95rem;
    }

    .rimg img {
        width: 80px;
        height: 80px;
    }

    .sresponse {
        height: 17vh;
        width: 39vw;
    }
    .timg {
        width: 90px;
    
    }

}


@media(max-width:778px) {
    .sresponse {
        height: 17vh;
        width: 44vw;
    }


}

@media(max-width:750px) {
    .sresponse {
        height: 15vh;
        width: 50vw;
    }

    .rimg img {
        width: 70px;
        height: 70px;
    }

    #simg {
        width: 30px;
        font-size: 16px;
    }

    #sbutton {
        height: 7vh !important;
    }
    .timg {
        width: 100px;
    
    }

}

@media(max-width:576px) {
    #ul #li {
        gap: 7px;
        font-family: var(--navbarfont);
        font-size: 1rem;
        height: 7.5vh !important;
    }

    #li img {
        width: 20px;
        height: 20px;
    }

    #drop2 {
        padding-left: 5px;
        font-size: 1rem;
        height: 6vh;
    }

    #drop2 img {
        width: 22px;
        height: 22px;
    }
}

@media(max-width:570px) {
    .headz h6 {
        text-align: center;
        font-size: 1.1rem;
    }

    .headz h2 {
        font-size: 2.1rem;

    }

    .sresponse {
        width: 25rem;
        height: 14vh;
    }

    .response {
        gap: 10px;
    }

    #splatform {
        font-size: 16px;
        margin-left: 15px;
    }

    .header h2 {
        font-size: 1.4rem;
    }

    #del {
        font-size: 10px;
        padding: 5px;
    }

}
@media(max-width:500px) {

    tr p,
    .change p {
        font-size: .7rem !important;
    }

    td p {
        color: #000;
        font-size: .65rem !important;
    }

    #lastcol button {
        font-size: 9px;
        padding: 6px !important;
    }

    #postbtn {
        font-size: 11px;
        padding: 5px;
    }

    td {
        white-space: wrap;
    }

}

@media(max-width:480px) {
    .dbox {
        width: 99%;
        height: 70%;
        box-shadow: none;
    }

    .dbtn {
        font-size: 15px;
        width: 14rem;
        height: 5.8vh;
        gap: 3px;
    }

    .dbtn img {
        width: 26px;
    }

    .dbtn p {
        padding-top: 8px;
    }

    .dbtn2 {
        font-size: 15px;
        width: 9.5rem;
        height: 5.8vh;
        gap: 3px;
    }

    .dbtn2 p {
        padding-top: 4px;
    }

    #dbtn2img {
        width: 24px;
        height: 22px;
    }
}




@media(max-width:420px) {
    #lastcol {
        flex-direction: column-reverse;
        padding-bottom: 15px !important;
    }
}

@media (max-width:400px) {
    .headz h6 {
        font-size: 1rem;
    }

    .headz h2 {
        font-size: 1.9rem;
    }

    tr p {
        font-size: .9rem !important;
        color: rgb(38, 45, 45);
    }

    .sresponse {
        width: 24rem;
        height: 13vh;
    }

    .text-center {
        /* width: min-content; */

    }

    .header h2 {
        font-size: 1.4rem;
    }

    .rtext h5 {
        font-size: 1rem;
        color: #251e1ee2;
        margin-top: 15px;
        font-weight: 600;
    }

    .rimg img {
        width: 65px;
        height: 65px;
    }

    .rtext p {
        font-size: .85rem;
        line-height: 1.5;
    }



    .icon {
        width: 50px;
    }

    .box1 {
        height: 26.5vh;
    }
    .paginationdiv{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pagination{
        border: none!important;
        box-shadow: none!important;
        outline: none!important;
    }
    .pagination:focus,.pagination:active{
        border: none!important;
        box-shadow: none!important;
        outline: none!important;
        
    }
    .page-link{
        font-size: 11px!important;
    }

}

